In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import math

pd.set_option('display.max_rows',50)

# Note (Clarisse n'oublie pas d'ajouter le résumé de ce qui est fait)

In [2]:
def month_in_day(dataframe):
    dataframe[['only_date_received', 'only_hours_received']] = dataframe['date_received'].str.split(expand=True)
    jours_unique = dataframe['only_date_received'].unique()
    
    for i in jours_unique:
        df_jours = dataframe[dataframe.only_date_received==i] 
        df_jours.to_csv(f'Janvier/{i.strip()}.csv', index=False)
    return "Fait"

In [3]:
# Appelle de la fonction : 

df_01 = pd.read_csv('dataset/calls-2014-01.csv')
month_in_day(df_01)

'Fait'

In [4]:
df_jour1 = pd.read_csv("Janvier/2014-01-02.csv")
df_jour1.head()

,date_received,queue_name,agent_number,answered,consult,transfer,hangup,only_date_received,only_hours_received
0,2014-01-02 08:03:21,30175,6935.0,2014-01-02 08:03:22,NaN,NaN,2014-01-02 08:05:54,2014-01-02,08:03:21
1,2014-01-02 08:04:37,30560,6940.0,2014-01-02 08:04:38,NaN,NaN,2014-01-02 08:09:49,2014-01-02,08:04:37
2,2014-01-02 08:06:26,30172,6968.0,2014-01-02 08:06:27,NaN,NaN,2014-01-02 08:15:17,2014-01-02,08:06:26
3,2014-01-02 08:08:07,30175,9424.0,2014-01-02 08:08:08,NaN,NaN,2014-01-02 08:10:37,2014-01-02,08:08:07
4,2014-01-02 08:08:26,30172,8076.0,2014-01-02 08:08:27,NaN,NaN,2014-01-02 08:14:59,2014-01-02,08:08:26